<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Movies list</h2>
            <input
                type="text"
                maxlength="32"
                data-loc="movie-clue"
                ng-model="$moviesListCtrl.clue"
                ng-model-options="{debounce: 200}"
                ng-change="$moviesListCtrl.reactOnClueChange()"
            />
        </div>
        <div ng-show="$moviesListCtrl.movies.length">
            <article
                class="col-md-12" ng-repeat="movie in $moviesListCtrl.movies"
                data-loc="movie-item"
            >
                <hr>
                <h4>
                    <a
                        ui-sref="movieDetails({id: movie._id})"
                        ng-bind="movie.title"
                        data-loc="movie-title"
                    ></a>
                </h4>
                <span ng-bind="movie.productionCompany"></span> /
                <span ng-bind="movie.year"></span> /
                <span ng-bind="movie.locations"></span>
            </article>
        </div>
        <hr>
        <div class="col-md-12">
            <p
                ng-show="$moviesListCtrl.clue && !$moviesListCtrl.movies.length"
            >Nothing found for request: {{$moviesListCtrl.clue}}</p>
            <fetch-more
                data-loc="fetch-more"
                fetching="$moviesListCtrl.fetching"
                ng-click="$moviesListCtrl.fetch()"
            ></fetch-more>
        </div>
    </div>
</div>
