<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p ng-show="!$movieDetailsCtrl.movie._id">We can't find anything about about that movie</p>
            <article ng-if="$movieDetailsCtrl.movie._id">
                <h2
                    ng-bind="$movieDetailsCtrl.movie.title"
                    data-loc="movie-title"
                ></h2>
                <p><strong>Locations:</strong> {{$movieDetailsCtrl.movie.locations}}</p>
                <p><strong>Director:</strong> {{$movieDetailsCtrl.movie.director}}</p>
                <p><strong>Production company:</strong> {{$movieDetailsCtrl.movie.productionCompany}}</p>
                <p><strong>Writer:</strong> {{$movieDetailsCtrl.movie.writer}}</p>
                <p><strong>Year:</strong> {{$movieDetailsCtrl.movie.year}}</p>
                <p ng-if="$movieDetailsCtrl.movie.funFacts">
                    <strong>Fun facts:</strong> {{$movieDetailsCtrol.movie.funFacts}}
                </p>
                <p ng-if="$movieDetailsCtrl.movie.distributor">
                    <strong>Distributor:</strong> {{$movieDetailsCtrl.movie.distributor}}
                </p>
                <div ng-if="$movieDetailsCtrl.actorsArePresented($movieDetailsCtrl.movie.actors)">
                    <p><strong>Actors:</strong></p>
                    <ul>
                        <li
                            ng-if="actor"
                            ng-repeat="actor in $movieDetailsCtrl.movie.actors track by $index"
                            ng-bind="actor"
                        ></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
